.Plane {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flying-plane {
  position: absolute;
  top: 50vh;
  left: 30vw;
  transform: translate(-50%, -50%);
  animation: fly 20s linear infinite;
}

.flying-plane img {
  width: 40vw;
  height: 40vw;
}

@keyframes fly {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  25% { transform: translate(-40%, -60%) rotate(-5deg); }
  50% { transform: translate(-50%, -50%) rotate(0deg); }
  75% { transform: translate(-60%, -40%) rotate(5deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}

.content-panel {
  position: absolute;
  top: 20vh;
  right: 20px;
  width: 36vw;
  max-height: 70vh;
  padding: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-panel::-webkit-scrollbar {
  width: 0px;
}

.content-panel::-webkit-scrollbar-track {
  background: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Inter:wght@400;500;600&display=swap');

.welcome-text {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 8vw;
  line-height: 1;
  color: #1414144e;
  margin-bottom: 8px;
  text-shadow: 1.5px 0 0 #000000d0;
  -webkit-text-stroke: 3.5px #000000be;
}

.service-info {
  color: #666;
  font-size: 1.8vw;
  margin: 12px 0 32px 0;
  font-weight: 800;
}

.flight-route {
  background: white;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
}

.route-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.city-container {
  display: flex;
  justify-content: space-between;
}

.city {
  display: flex;
  flex-direction: column;
}

.city-name {
  font-size: clamp(12px, 2.4vw, 16px);
  color: #666;
  margin-bottom: 4px;
  margin-right: 4px;
}

.city-code {
  font-size: clamp(12px, 5vw, 46px);
  font-weight: bold;
  color: #000;
}

.time-container {
  display: flex;
  justify-content: space-between;
  margin-top: -8px;
}

.time-wrapper {
  display: flex;
  align-items: baseline;
}

.time {
  font-size: clamp(12px, 3vw, 26px);
  color: #000;
}

.period {
  font-size: clamp(12px, 3.2vw, 22px);
  color: #666;
  margin-left: 4px;
  
}

.flight-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.progress-line {
  position: relative;
  width: 100%;
  height: 0.6vh;
  background: linear-gradient(to right, #ff5a5f 50%, #e0e0e0 50%);
  margin: 12px 0;
  border-radius: 20px;
}

.plane-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff6262;
  background: white;
  padding: 4px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.duration-text {
  display: flex;
  align-items: center;
  gap: 4px;
}

.duration {
  font-size: 12px;
  color: #22c55e;
  background: #dcfce7;
  padding: 4px 12px;
  border-radius: 12px;
}

.remaining {
  font-size: 12px;
  color: #22c55e;
}

.weather-card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1;
}

.temperature {
  font-size: clamp(18px, 3vw, 36px);
  font-weight: 600;
  color: #000;
}

.weather-desc {
  font-size: 14px;
  color: #666;
}

.weather-icon {
  position: relative;
  width: 12vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  left:3vw;
}

.weather-icon::before {
  content: '';
  position: absolute;
  right: -16px;
  top: -16px;
  width: 120%;
  height: calc(100% + 32px);
  background: #40b4f3;
  opacity: 0.5;
  z-index: 0;
}

.weather-icon img {
  position: relative;
  width: 120%;
  height: 140%;
  object-fit: contain;
  margin-right: 10vw;
  z-index: 1;
}

.music-section {
  background: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: relative;
  overflow: hidden;
  height: 9vw;
}

.music-title {
  font-size: clamp(12px, 2vw, 18px);
}

.music-subtitle {
  font-size: clamp(12px, 2vw, 18px);
}

.music-header {
  position: relative;
  z-index: 1;
}

.music-player {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top:3vh;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.5vw;
}

.song-name {
  font-size: clamp(7px, 2.5vw, 22px);
}

.album-art {
  position: absolute;
  top: -69px;
  right: -5vw;
  height:17vw;
  /* height: calc(100% + 32px); */
  overflow: hidden;
}

.album-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.movie-section {
  background: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: relative;
  overflow: hidden;
  height: 9vw;
  top:2vh;
  height:10vw
}


.movie-art {
  position: absolute;
    top: -65px;
    right: -5vw;
    height:17vw;
    /* height: calc(100% + 32px); */
    overflow: hidden;
}

.movie-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
















.Plane .flying-plane {
  animation: flyNormal 20s linear infinite;
}

.Plane.animate-exit .flying-plane {
  animation: flyOut 2s ease-out forwards;
}

@keyframes flyNormal {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  25% { transform: translate(-40%, -60%) rotate(-5deg); }
  50% { transform: translate(-50%, -50%) rotate(0deg); }
  75% { transform: translate(-60%, -40%) rotate(5deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}

@keyframes flyOut {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-150%, -50%) scale(2.5) rotate(-45deg);
    opacity: 0;
  }
}

/* Optional: Add entrance animation */
@keyframes flyIn {
  0% {
    transform: translate(-150%, -50%) scale(2.5) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
}




/* Entrance zoom animation for video background */
.video-background {
  animation: zoomInBackground 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Exit zoom animation for video background */
.animate-exit .video-background {
  animation: zoomOutBackground 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes zoomInBackground {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOutBackground {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}






/* control pannel animation  */



/* Remove the general opacity: 0 from content-panel */
.content-panel {
  position: absolute;
  top: 20vh;
  right: 20px;
  width: 36vw;
  max-height: 70vh;
  padding: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Add animations for each section */
.panel-content .welcome-text {
  opacity: 0;
  animation: slideUpFade 0.8s ease-out forwards;
  animation-delay: 2.5s;
}

.panel-content .service-info {
  opacity: 0;
  animation: slideUpFade 0.8s ease-out forwards;
  animation-delay: 2.7s;
}

.panel-content .flight-route {
  opacity: 0;
  animation: slideUpFade 0.8s ease-out forwards;
  animation-delay: 2.9s;
}

.panel-content .weather-card {
  opacity: 0;
  animation: slideUpFade 0.8s ease-out forwards;
  animation-delay: 3.1s;
}

.panel-content .music-section {
  opacity: 0;
  animation: slideUpFade 0.8s ease-out forwards;
  animation-delay: 3.3s;
}

.panel-content .movie-section {
  opacity: 0;
  animation: slideUpFade 0.8s ease-out forwards;
  animation-delay: 3.5s;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}







/* control pannel exit animation */







/* Control panel exit animations */
.Plane.animate-exit .panel-content {
  pointer-events: none; /* Prevent interactions during animation */
}

.Plane.animate-exit .panel-content .welcome-text {
  animation: slideRightFade 1s ease-out forwards;
}

.Plane.animate-exit .panel-content .service-info {
  animation: slideRightFade 1s ease-out forwards;
  animation-delay: 0.1s;
}

.Plane.animate-exit .panel-content .flight-route {
  animation: slideRightFade 1s ease-out forwards;
  animation-delay: 0.2s;
}

.Plane.animate-exit .panel-content .weather-card {
  animation: slideRightFade 1s ease-out forwards;
  animation-delay: 0.3s;
}

.Plane.animate-exit .panel-content .music-section {
  animation: slideRightFade 1s ease-out forwards;
  animation-delay: 0.4s;
}

.Plane.animate-exit .panel-content .movie-section {
  animation: slideRightFade 1s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes slideRightFade {
  0% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
    visibility: hidden;
  }
}












/* plane animation */


.flying-plane {
  position: absolute;
  top: 50vh;
  left: 30vw;
  transform: translate(-50%, -50%);
}

/* Combined smooth animation with consistent speed */
.Plane .flying-plane {
  animation: flyInAndNormal 22s linear infinite;
}

/* Exit animation override */
.Plane.animate-exit .flying-plane {
  animation: flyOut 2s ease-out forwards;
}

@keyframes flyInAndNormal {
  /* Initial fly in with consistent speed */
  0% {
    transform: translate(100%, -100%) scale(0.1) rotate(45deg);
    opacity: 0;
  }
  7% {
    transform: translate(25%, -75%) scale(0.5) rotate(25deg);
    opacity: 0.7;
  }
  15% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
  /* Normal flying pattern */
  40% { transform: translate(-40%, -60%) rotate(-5deg); }
  65% { transform: translate(-50%, -50%) rotate(0deg); }
  90% { transform: translate(-60%, -40%) rotate(5deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}

@keyframes flyOut {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-150%, -50%) scale(2.5) rotate(-45deg);
    opacity: 0;
  }
}





