.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: transparent;
    z-index: 50;
    border-radius: 50px 50px 0 0;
    margin-top: 0.7vh;
  }
  
  
  .navbar-container {
    margin: 0 auto;
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
  }
    .topbar-icon {
    opacity: 0.5;
    zoom:20%;
    margin-right: 10vw;

    }

  

  .circle-icon .icon {
    color: white;
    stroke: none;
  }
  
  .control-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(216, 208, 208, 0.2);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
    zoom:115%;
  }
  
  .control-button:hover {
    background-color: rgba(255, 255, 255, 0.311);
  }
  
  .help-button {
    padding: 0 14px;
    height: 32px;
    border-radius: 9999px;
    background-color: rgba(59, 130, 246, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    animation: pulse 2s infinite;
    border: none;
    cursor: pointer;
  }
  
  .help-button:hover {
    background-color: rgba(37, 90, 206, 0.8);
    animation: reverse-pulse 4s infinite;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.7);
    stroke-width: 1.5px;
  }
  
  .control-button .icon {
    stroke-width: 1.5px;
  }
  
  .help-button .icon {
    stroke-width: 1.5px;
    color: white;
  }
  
  .help-text {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .7;
    }
  }
  